*
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.header
{
    background-color: orangered;
    color: white;
    text-align: center;
    padding: 45px;
    top: 0;
}

.col_unica
{
    width: 100%;
}

.tres_col
{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#col1
{
    width: 30%;   
}

#col1 img
{
    width: 50%;
    height: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
    transform: none;
}

#co1::after
{
    content: "";
    clear: both;
    display: table;
}

#col2
{
    width: 40%;
    background-color: aqua;
}

#col3
{
    width: 30%;
    background-color: yellow;
}

#col3 img
{
    width: 50%;
    height: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
    transform: none;
}

.footer
{
    background-color: green;
    bottom: 0;
    text-align: center;
    padding: 35px;
}

#rod1
{
    width: 2%;
    height: 2%;
    text-align: left;
    float: left;
}

#rod2
{
    width: 2%;
    height: 2%;
    text-align: right;
    float: right;
}
