<!-- views/partials/footer.ejs -->
<footer class="bg-dark text-white text-center py-3 mt-5">
    <p>&copy; 2024 - Simulador de Phishing. Todos os direitos reservados.</p>
    <p>Desenvolvido por Gabriel Pereira Paião</p>
    <p>
      <a href="https://www.linkedin.com/in/https://www.linkedin.com/in/gabriel-pai%C3%A3o-analise-desenvolvimento-sistemas/" class="text-white">LinkedIn</a> | 
      <a href="https://github.com/https://github.com/GabrielPaiao" class="text-white">GitHub</a>
    </p>
  </footer>
  