<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/simulacoes">Simulações</a></li>
      <li><a href="/resultados">Resultados</a></li>
      <li><a href="/feedbacks">Feedbacks</a></li>
      <li><a href="/equipes">Equipes</a></li>
    </ul>
  </nav>
  