<!-- views/partials/navbar.ejs -->

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <% if (userId) { %>
      <!-- Links acessíveis para usuários logados -->
      <li><a href="/simulacoes/index">Simulações</a></li>
      <li><a href="/resultados/index">Resultados</a></li>
      <li><a href="/feedbacks/index">Feedbacks</a></li>
      <li><a href="/equipes/index">Equipes</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    <% } else { %>
      <!-- Links para visitantes -->
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/register">Cadastro</a></li>
    <% } %>
  </ul>
</nav>
